{% extends "base.html" %}
{% load static %}
{% block title %}

Edit Note

{% endblock %}

{% block content %}

<div class="container py-4">

    <div class="card shadow">

        <div class="card-header bg-success text-white">

            <h3>

                ✏ Edit Note

            </h3>

        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-success">

                    Update Note

                </button>

                <a href="{% url 'note_list' %}" class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}