# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Migration cache
*/migrations/__pycache__/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db