{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-md-5 mx-auto">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="mb-4">Sign Up</h2>

            <form method="POST">

                {% csrf_token %}

                <input type="text" name="username" class="form-control mb-3" placeholder="Username" required>

                <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>

                <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>

                <input type="password" name="confirm_password" class="form-control mb-3" placeholder="Confirm Password"
                    required>

                <button class="btn btn-primary w-100">
                    Create Account
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}